body {
    background-color: yellow;
    
}



.div1 {
    margin-top: 350px;
    margin-left: 600px;
    width: 400px;
    height: 200px;
    background-color: rgb(198, 113, 113);
    border-radius: 2%;
}

.input1 {
    width: 100px;
    height: 40px;
    margin-left: 150px;
    background-color: yellowgreen;
    font-size: 20px;
}

input {
    border-radius: 10px;
}

::placeholder {
    font-weight: 900; 
    color: rgb(0, 0, 0);
}